:root {
    --intro-color: #B4B4B4;
    --origins-color: #738351;
    --origins-color-bright: #91AC57;
    --impact-color: #A74F36;
    --impact-color-bright: #E57352;
    --labor-color: #1B7580;
    --labor-color-bright: #34ADBB;
    --response-color: #BE9428;
    --response-color-bright: #FFC530;
    --serif: 'Noto Serif Display', serif;
    --sans-serif: 'Raleway', sans-serif;
    --article-hover: #c4c4c4;
}
*{
    font-family: var(--sans-serif);
}
p{
    font-size:15px;
    line-height:25px;
}
html{
    overflow-x: hidden;
}

/* NAVIGATION AND HEADER */
.horizontalLine{
    display: inline-block;
    position: absolute;
    top: 60px;
    width: 30%;
    height:5px;
    background-color: white;
    left: 0px;
}
.horizontalLine.right{
    left: unset;
    right: 0px;
}
.horizontalLine .circle{
    display:inline-block;
    width: 20px;
    height:20px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    right:-5px;
    top: -8px;
}
.horizontalLine.right .circle{
    right: unset;
    left: -5px;
}

.thread-desk{
    position: absolute;
    left:0;
    z-index: -10;
    width:100%;
}
img:not(.icon){
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    height:200px;
    align-items: center;
    flex-wrap: wrap;
    max-width: 77%;
    margin-left:auto;
    margin-right:auto;
}
nav a{
    display: block;
    font-size: 25px;
    text-decoration: none;
    font-weight: 500;
    max-width: 120px;
    font-family: var(--sans-serif);
}
nav a:hover{
    text-decoration: underline;
}
nav div{
    position: relative;
    width: fit-content;
    margin: 0px !important;
}
nav .button{
    position: absolute;
    left: -30px;
    top:-30px;
    width: 50px;
    transition: width 300ms;
    z-index: -10;
}
nav:not(.small) .button.hover{
    width: 55px;
    transition: width 300ms;
}
nav:not(.small) .button.selected{
    width: 55px;
    transition: 0ms;
}

nav.small .button.hover{
    width: 45px;
    transition: width 300ms;
}
nav .selected *{
    font-weight: 600;
    text-decoration: underline;
}

#labor-button{
    top:-15px;
}

@media (max-width: 800px) {
    nav{
        max-width:90%;
    }
    nav .button{
        width:45px;
        top:-30px;
        left:-20px;
    }
    nav a{
        font-size:20px;
        max-width:80px;
    }
    #labor-button{
        top:-18px;
    }
}
.h1{
    font-family: var(--serif);
    font-size: 50px;
    margin-top:20px;
    z-index: 40;
    position: relative;
    transition: z-index 1000ms;
    text-decoration: none;
    font-weight: 700;;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h2{
    font-family: var(--serif);
    font-size: 35px;
    position: relative;
}
h3{
    font-family: var(--serif);
    font-size: 30px;
    position: relative;
}
h2 .horizontalLine.right{
    background-color: #C8C6C6;
    top:50%;
    width: 80%;
    transition-duration: 200ms;
}
h2 .horizontalLine.right .button{
    position:absolute;
    top: -10px;
    left: -20px;
    width: 25px;
}

@media (max-width:900px) {
    .horizontalLine{
        width:25%;
    }
    .h1{
        font-size:38px;
    }
    h2{
        font-family: var(--serif);
        font-size: 25px;
    }
}
/* GENERAL */
*{
    color: white;
}

.centerText {
    text-align: center;
}

body{
    background-color: #231A1A;
    margin: 0;
}

body > section{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}
body h2{
    width:90%;
    margin-left: auto;
    margin-right: auto;
}

footer{
    height: 100px;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 12px;
    /* width: 100%; */
}
footer cite{
    display: block;
    margin-bottom: 10px;
    font-style: normal;
    color: black !important;
}
footer cite a {
    color: black !important;
}
@media (max-width: 600px){
    footer {
        height: 60px;
        padding:20px;
    }
}

/* SCROLL BARS */
.horizontalScroll{
    float:right;
    margin: 0px 0px 40px 40px;
    width: 50%;
    display:flex;
    position: relative;
    z-index: 8;
    
}
.horizontalScroll img{
    display: inline-block;
    max-width: 450px;
    height:auto;
}
.scrollBar{
    display:flex;
    width:50px;
    background-color: grey;   
    align-items: center;
    justify-content: center;
}
.scrollBar i {
    font-size:30px;
    color:black;
}
@media (max-width: 900px){
    .horizontalScroll{
        float: unset;
        margin: 0;
        width: 75%;
    }
    .horizontalScroll img{
        max-width: 80%;
    }
    .scrollBar i{
        font-size: 20px;
    }
}

/* TEXT */
.indent-p, .left-paragraph{
    position:relative;
}
.indent-p p{
    width:50%;
    margin-left:50%;
}
.indent-p h3{
    width:60%;
    margin-left:40%;
}
.left-paragraph p{
    width:60%;
}
section{
    margin-bottom: 50px;
}

/* ARTICLE */
.article{
    float:right;
    width:40%;
    margin: 0px 0px 40px 40px;
    position: relative;
    height:300px;
}
.article img:not(.source){
    width:90%;
    position:absolute;
    right:0;
    top:30px;
    opacity: 0.4;
    z-index: -10;
}
.article .source{
    width: 80%; 
}
.article a{
    font-family: var(--serif);
    display: block;
    padding-left:50px;
    width:60%;
    font-size: 20px;
    font-weight: bold;
}
.article a:hover{
    color: var(--article-hover);
}
@media (max-width: 900px){
    .left-paragraph p{
        width:80%;
    }
    .indent-p p{
        width: 80%;
        margin-left:20%;
    }
    .article a{
        font-size: 18px !important;
    }
}
@media (max-width: 600px){
    .article a{
        font-size: 14px !important;
        width: 100%;
    }
    .article{
        float:unset !important;
        width:80% !important;
        margin: 0px !important;
        position: relative !important;
        height:fit-content !important;
        margin-bottom:20px !important;
        top: 0 !important;
        height: fit-content !important;
    }
    .article img:not(.source){
        width:100%;
        position:relative;
        right:0;
        margin-top: 20px;
        top: 0 !important;
        opacity: 1;
        z-index: -10;
    }
    .article .source{
        width: 60%; 
        margin-left: 0 !important;
        left: 0 !important;
    }
}


/* SMALL SCREENS */
.small{
    display: none;
    position: fixed;
}
@media (max-width: 600px){
    .h1.open{
        z-index: 8;
        transition: 0ms;
    }
    .large{
        display: none;
    }
    .small{
        display: block;
        /* position: absolute; */
        top:0;
        right: 0;
        width:90px;
        height:500px;
        overflow-x: hidden;
        align-items: flex-start;
        transition: 300ms;
        z-index: 10;
    }
    nav.small.open{
        width:190px;
        transition: width 300ms;
        box-shadow: 0px 0px 0px 7px rgb(209, 187, 187);
        background-color: #231A1A;
    }
    .small > img{
        width:150px;
        position: relative;
        margin-left:40px !important;
        z-index: 30;
    }
    .small .button{
        width:40px;
        margin-left:20px;
        position: unset;
        top: unset;
        left:unset;
        right:unset;
        bottom:unset;
        margin-right:20px;
    }
  
    .small a{
        display: block;
        font-size: 15px;
        text-decoration: none;
        font-weight: 500;
        text-align: left;
        max-width: 120px;
        font-family: var(--sans-serif);
    }
    .small .links{
        position: absolute;
        top:110px;
        display: flex;
        row-gap: 15px;;
        flex-direction: column;
        margin-left:10px !important;
        z-index: 30;
    }
    .small .links > div{
        display: flex;
        flex-direction: row;
        /* justify-content: ; */
        align-items: center;
    }
    .small .selected *{
        font-weight: 600;
        text-decoration: underline;
    }
    .h1{
        font-size: 32px;
    }
    h2{
        font-size: 25px;
    }
    h3{
        font-size:15px;
        margin-left: 0 !important;
        width: 100% !important;
        margin-bottom: -10px;
    }

    p{
        font-size: 12px;
        line-height: 18px;
    }
    .indent-p p{
        margin-left:0 !important;
        width: 88%;
    }
    .left-paragraph p{
        width:88%;
    }
    
}